In [67]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')
#1 Add Padding Around String

#https://docs.python.org/3/library/string.html#format-specification-mini-language

text = 'Chapter 1'

In [26]:
#left align

'{:<20}'.format(text)

'Chapter 1           '

In [27]:
#Right Align

'{:>20}'.format(text)

'           Chapter 1'

In [29]:
#Center Align
'{:^20}'.format(text)

'     Chapter 1      '

In [30]:
#Align with some character
'{:_^20}'.format(text)

'_____Chapter 1______'

In [32]:
#Align with some character
'{:^20}'.format(text)

'     Chapter 1      '

In [33]:
#2  Chain Together Lists

In [34]:
from itertools import chain

In [38]:
# Create a list of allies
allies = ['Spain', 'Germany', 'Namibia', 'Austria']

# Create a list of enemies
enemies = ['Mexico', 'United Kingdom', 'France','PK']

In [39]:
# For each country in allies and enemies
for country in chain(allies, enemies):
    # print the country
    print(country)

Spain
Germany
Namibia
Austria
Mexico
United Kingdom
France
PK

In [40]:
# For each country in allies and enemies
for i, j in zip(allies, enemies):
    # print the country
    print(i+" "+j)

Spain Mexico
Germany United Kingdom
Namibia France
Austria PK

In [41]:
#3  Compare Two Dictionaries - Hashtables - o(1) for any operations

In [42]:
importers = {'El Salvador' : 1234,
             'Nicaragua' : 152,
             'Spain' : 252
            }

exporters = {'Spain' : 252,
             'Germany' : 251,
             'Italy' : 1563
             }

In [48]:
# Find the intersection of importers and exporters - Find Duplicate Keys
importers.keys() and exporters.keys()

['Italy', 'Germany', 'Spain']

In [57]:
#Find Difference In Keys

In [59]:
#Find Key, Values Pairs In Common - Wrong
importers.items() and exporters.items()

[('Italy', 1563), ('Germany', 251), ('Spain', 252)]

In [61]:
#4 Convert HTML Characters To Strings
import html

In [70]:
### Create Text
text = 'This item costs &#165;400 or &#163;4.'
text

'This item costs &#165;400 or &#163;4.'

In [71]:
# 5                Create A New File Then Write To It

In [76]:
# Create a file if it doesn't already exist
with open('file.txt', 'wt') as f:
    # Write to the file
    f.write('This file now exsits!')
    # Close the connection to the file
    f.close()

In [77]:
# Open the file
with open('file.txt', 'rt') as f:
    # Read the data in the file
    data = f.read()
    # Close the connection to the file
    f.close()

In [78]:
# View the data in the file
data

'This file now exsits!'

In [81]:
# Import the os package
import os

# Delete the file
if os.path.exists('file.txt'):
    os.remove('file.txt')

In [82]:
#6   Create A Temporary File

In [83]:
from tempfile import NamedTemporaryFile

In [84]:
f = NamedTemporaryFile('w+t')

In [85]:
# Write to the file, the output is the number of characters
f.write('Nobody lived on Deadweather but us and the pirates. It wasn’t hard to understand why.')

In [86]:
f.name

'/var/folders/dw/9cgvsttx3610cnwcqfj575gxqj5jzg/T/tmplmlSqK'

In [92]:
# Go to the top of the file
f.seek(10)

# Read the file
f.read()
f.close()

In [93]:
#7   Find The Max Value In A Dictionary

In [94]:
ages = {'John': 21,
        'Mike': 52,
        'Sarah': 12,
        'Bob': 43
       }

In [95]:
max(zip(ages.values(), ages.keys()))

(52, 'Mike')

In [96]:
#8             Formatting Numbers

In [97]:
annual_revenue = 9282904.9282872782

In [98]:
# Format rounded to two decimal places
format(annual_revenue, '0.2f')

'9282904.93'

In [99]:
# Format with commas and  rounded to one decimal place
format(annual_revenue, '0,.1f')

'9,282,904.9'

In [100]:
# Format as scientific notation
format(annual_revenue, 'e')

'9.282905e+06'

In [101]:
# Format as scientific notation rounded to two deciminals
format(annual_revenue, '0.2E')

'9.28E+06'

In [102]:
#9    Hard Wrapping Text

In [103]:
import textwrap

In [104]:
# Create some text
excerpt = 'Then there was the bad weather. It would come in one day when the fall was over. We would have to shut the windows in the night against the rain and the cold wind would strip the leaves from the trees in the Place Contrescarpe. The leaves lay sodden in the rain and the wind drove the rain against the big green autobus at the terminal and the Café des Amateurs was crowded and the windows misted over from the heat and the smoke inside.'

In [108]:
# Hard wrap the excerpt at 50 characters -  --
print(textwrap.wrap(excerpt, 50))

In [109]:
# 10         Priority Queues

In [110]:
import heapq

In [134]:
# Create a priority queue abstract base class
class priority_queue:
    # Initialize the instance
    def __init__(self):
        # Create a list to use as the queue
        self._queue = []
        # Create an index to use as ordering
        self._index = 0
        print(self._queue)

    # Create a function to add a task to the queue
    def add_task(self, item, priority):
        # Push the arguments to the _queue using a heap
        heapq.heappush(self._queue, (-priority, self._index, item))
        # Add one to the index
        self._index += 1

    # Create a function to get the next item from the queue
    def next_task(self):
        # Return the next item in the queue
        return heapq.heappop(self._queue)[-1]
    
    def print_queue(self):
        print(self._queue)

In [135]:
# Create a priority queue called task_list
task_list = priority_queue()

In [136]:
# Add an item to the queue
task_list.add_task('Clean Dishes', 1)

# Add an item to the queue
task_list.add_task('Wash Car', 2)

# Add an item to the queue
task_list.add_task('Walk Dog', 3)

In [137]:
# Retrieve items from the queue
task_list.next_task()

'Walk Dog'

In [138]:
# Retrieve items from the queue
task_list.next_task()

'Wash Car'

In [139]:
task_list.print_queue()

In [140]:
# Add an item to the queue
task_list.add_task('Walk Dog', 3)

In [141]:
#  11      Streaming Data Pipeline

In [142]:
raw_data = [1,2,3,4,5,6,7,8,9,10]

In [143]:
# Define a generator that yields input+6
def add_6(numbers):
    for x in numbers:
        output = x+6
        yield output

# Define a generator that yields input-2
def subtract_2(numbers):
    for x in numbers:
        output = x-2
        yield output

# Define a generator that yields input*100        
def multiply_by_100(numbers):
    for x in numbers:
        output = x*100
        yield output

In [144]:
# Step 1 of the pipeline
step1 = add_6(raw_data)

# Step 2 of the pipeline
step2 = subtract_2(step1)

# Step 3 of the pipeline
pipeline = multiply_by_100(step2)

In [145]:
# First element of the raw data
next(pipeline)

500

In [146]:
# Second element of the raw data
next(pipeline)

600

In [153]:
#12  Construct A Dictionary From Multiple Lists

In [154]:
# Create a list of theofficer's name
officer_names = ['Sodoni Dogla', 'Chris Jefferson', 'Jessica Billars', 'Michael Mulligan', 'Steven Johnson']

# Create a list of the officer's army
officer_armies = ['Purple Army', 'Orange Army', 'Green Army', 'Red Army', 'Blue Army']

In [155]:
# Create a dictionary that is the zip of the two lists
dict(zip(officer_names, officer_armies))

{'Chris Jefferson': 'Orange Army',
 'Jessica Billars': 'Green Army',
 'Michael Mulligan': 'Red Army',
 'Sodoni Dogla': 'Purple Army',
 'Steven Johnson': 'Blue Army'}

In [157]:
#13  All Combinations For A List Of Objects

In [158]:
# Import combinations with replacements from itertools
from itertools import combinations_with_replacement

In [160]:
# Create an empty list object to hold the results of the loop
list_of_objects = ['warplanes', 'armor', 'infantry']
combinations = []

# Create a loop for every item in the length of list_of_objects, that,
for i in list(range(len(list_of_objects))):
    # Finds every combination (with replacement) for each object in the list
    combinations.append(list(combinations_with_replacement(list_of_objects, i+1)))

# View the results
combinations

[[('warplanes',), ('armor',), ('infantry',)],
 [('warplanes', 'warplanes'),
  ('warplanes', 'armor'),
  ('warplanes', 'infantry'),
  ('armor', 'armor'),
  ('armor', 'infantry'),
  ('infantry', 'infantry')],
 [('warplanes', 'warplanes', 'warplanes'),
  ('warplanes', 'warplanes', 'armor'),
  ('warplanes', 'warplanes', 'infantry'),
  ('warplanes', 'armor', 'armor'),
  ('warplanes', 'armor', 'infantry'),
  ('warplanes', 'infantry', 'infantry'),
  ('armor', 'armor', 'armor'),
  ('armor', 'armor', 'infantry'),
  ('armor', 'infantry', 'infantry'),
  ('infantry', 'infantry', 'infantry')]]

In [161]:
# Flatten the list of lists into just a list
combinations = [i for row in combinations for i in row]

# View the results
combinations

[('warplanes',),
 ('armor',),
 ('infantry',),
 ('warplanes', 'warplanes'),
 ('warplanes', 'armor'),
 ('warplanes', 'infantry'),
 ('armor', 'armor'),
 ('armor', 'infantry'),
 ('infantry', 'infantry'),
 ('warplanes', 'warplanes', 'warplanes'),
 ('warplanes', 'warplanes', 'armor'),
 ('warplanes', 'warplanes', 'infantry'),
 ('warplanes', 'armor', 'armor'),
 ('warplanes', 'armor', 'infantry'),
 ('warplanes', 'infantry', 'infantry'),
 ('armor', 'armor', 'armor'),
 ('armor', 'armor', 'infantry'),
 ('armor', 'infantry', 'infantry'),
 ('infantry', 'infantry', 'infantry')]

In [162]:
# 14            Apply Operations Over Items In A List

In [163]:
#method 1
# Create a list of casualties from battles
battleDeaths = [482, 93, 392, 920, 813, 199, 374, 237, 244]

In [164]:
# Create a function that updates all battle deaths by adding 100
def updated(x): return x + 100

In [165]:
# Create a list that applies updated() to all elements of battleDeaths
list(map(updated, battleDeaths))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [166]:
#Method 2: for x in y
# Create a list of deaths
casualties = [482, 93, 392, 920, 813, 199, 374, 237, 244]
casualtiesUpdated = []
for x in casualties:
    casualtiesUpdated.append(x + 100)

In [167]:
# View casualties variables
casualtiesUpdated

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [169]:
# Method 3: lambda functions

In [171]:
# Map the lambda function x() over casualties
list(map((lambda x: x + 100), casualties))

[582, 193, 492, 1020, 913, 299, 474, 337, 344]

In [172]:
# Cartesian Product
# Create two lists
i = [1,2,3,4,5]
j = [1,2,3,4,5]

In [173]:
# List every single x in i with every single y (i.e. Cartesian product)
[(x, y) for x in i for y in j]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5)]

In [177]:
# An alternative way to do the cartesian product


# for two sets, find the the cartisan product
for i in itertools.product([1,2,3,4,5], [1,2,3,4,5]):
    # and print it
    print(i)